<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliador do Projeto</title>
    <link rel="stylesheet" href="./css/estilo_index.css"> <!-- Arquivo CSS principal para a barra superior -->
    <link rel="stylesheet" href="./css/avaliador_projeto.css">
</head>
<body>
    <!-- Barra superior -->
    <header class="header">
        <div class="user-info">
            <img src="./imagens/index/foto_perfil.png" alt="Imagem do usuário" class="user-image">
            <span>Olá, <strong>João Silva</strong></span>
        </div>
        <div class="header-title">
            <h1>PitchScore</h1>
        </div>
        <div class="settings-icon">⚙️</div>
    </header>

    <main class="content">
        <section class="form-card">
        <h2>Avaliador do Projeto</h2>
        <p>Distribua as notas por critérios</p>
        
        <form>
        <div class="criterios">
            <div class="criterio-card">
                <h3>Inovação</h3>
                <p>Quanto a solução é inovadora?</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="inovacao" value="0">
                <label for="inovacao">0</label>

                <input type="radio" id="radio" name="inovacao" value="1">
                <label for="inovacao">1</label>

                <input type="radio" id="radio" name="inovacao" value="2">
                <label for="inovacao">2</label>

                <input type="radio" id="radio" name="inovacao" value="3">
                <label for="inovacao">3</label>

                <input type="radio" id="radio" name="inovacao" value="4">
                <label for="inovacao">4</label>

                <input type="radio" id="radio" name="inovacao" value="5">
                <label for="inovacao">5</label>
            </div>
            </div>
            <div class="criterio-card">
                <h3>Escalabilidade</h3>
                <p>Quanto a solução é escalável?</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="escalabilidade" value="0">
                <label for="escalabilidade">0</label>

                <input type="radio" id="radio" name="escalabilidade" value="1">
                <label for="escalabilidade">1</label>

                <input type="radio" id="radio" name="escalabilidade" value="2">
                <label for="escalabilidade">2</label>

                <input type="radio" id="radio" name="escalabilidade" value="3">
                <label for="escalabilidade">3</label>

                <input type="radio" id="radio" name="escalabilidade" value="4">
                <label for="escalabilidade">4</label>

                <input type="radio" id="radio" name="escalabilidade" value="5">
                <label for="escalabilidade">5</label>
            </div>
            </div>


            <div class="criterio-card">
                <h3>Viabilidade</h3>
                <p>O quanto a solução é possível/viável de ser executada?</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="viabilidade" value="0">
                <label for="viabilidade">0</label>

                <input type="radio" id="radio" name="viabilidade" value="1">
                <label for="viabilidade">1</label>

                <input type="radio" id="radio" name="viabilidade" value="2">
                <label for="viabilidade">2</label>

                <input type="radio" id="radio" name="viabilidade" value="3">
                <label for="viabilidade">3</label>

                <input type="radio" id="radio" name="viabilidade" value="4">
                <label for="viabilidade">4</label>

                <input type="radio" id="radio" name="viabilidade" value="5">
                <label for="viabilidade">5</label>
            </div>
            </div>


            <div class="criterio-card">
                <h3>Aderência</h3>
                <p>O quanto o protótipo/solução resolve o problema?</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="aderencia" value="0">
                <label for="aderencia">0</label>

                <input type="radio" id="radio" name="aderencia" value="1">
                <label for="aderencia">1</label>

                <input type="radio" id="radio" name="aderencia" value="2">
                <label for="aderencia">2</label>

                <input type="radio" id="radio" name="aderencia" value="3">
                <label for="aderencia">3</label>

                <input type="radio" id="radio" name="aderencia" value="4">
                <label for="aderencia">4</label>

                <input type="radio" id="radio" name="aderencia" value="5">
                <label for="aderencia">5</label>
            </div>
            </div>


            <div class="criterio-card">
                <h3>Clareza</h3>
                <p>O quanto a apresentação foi clara</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="clareza" value="0">
                <label for="clareza">0</label>

                <input type="radio" id="radio" name="clareza" value="1">
                <label for="clareza">1</label>

                <input type="radio" id="radio" name="clareza" value="2">
                <label for="clareza">2</label>

                <input type="radio" id="radio" name="clareza" value="3">
                <label for="clareza">3</label>

                <input type="radio" id="radio" name="clareza" value="4">
                <label for="clareza">4</label>

                <input type="radio" id="radio" name="clareza" value="5">
                <label for="clareza">5</label>
            </div>
            </div>
            <div class="criterio-card">
                <h3>Dinamicidade</h3>
                <p>O quanto a apresentação foi dinâmica</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="dinamicidade" value="0">
                <label for="dinamicidade">0</label>

                <input type="radio" id="radio" name="dinamicidade" value="1">
                <label for="dinamicidade">1</label>

                <input type="radio" id="radio" name="dinamicidade" value="2">
                <label for="dinamicidade">2</label>

                <input type="radio" id="radio" name="dinamicidade" value="3">
                <label for="dinamicidade">3</label>

                <input type="radio" id="radio" name="dinamicidade" value="4">
                <label for="dinamicidade">4</label>

                <input type="radio" id="radio" name="dinamicidade" value="5">
                <label for="dinamicidade">5</label>
            </div>
            </div>
            <div class="criterio-card">
                <h3>Organização</h3>
                <p>O quanto o grupo foi organizado na apresentação</p>
                <p>Selecione uma nota de 0 a 5</p>
                <div class="radio_botao">
                <input type="radio" id="radio" name="organizacao" value="0">
                <label for="organizacao">0</label>

                <input type="radio" id="radio" name="organizacao" value="1">
                <label for="organizacao">1</label>

                <input type="radio" id="radio" name="organizacao" value="2">
                <label for="organizacao">2</label>

                <input type="radio" id="radio" name="organizacao" value="3">
                <label for="organizacao">3</label>

                <input type="radio" id="radio" name="organizacao" value="4">
                <label for="organizacao">4</label>

                <input type="radio" id="radio" name="organizacao" value="5">
                <label for="organizacao">5</label>
            </div>
            </div>
            <div class="criterio-card">
                <h3>Tempo</h3>
                <p>Tempo em minutos que o grupo concluiu o pitch</p>
                <p>Digite uma nota de 0 a 5</p>
                <input type="text" placeholder="00:00">
            </div>
        </div>
        <br><br>
       <imput class="botao-avancar" type="submit" value="enviar">Enviar</imput>

    </form>

    </section>
    </main>
</body>
</html>
