<!DOCTYPE html>
<html lang="pt-Br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PitchScore</title>

<link rel="stylesheet" href="./css/estilo.css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="./js/function.js"></script>
</head>
<body>

   <!--Inicio do bloco do Logo-->
    <div class="logo">

        <h1>PitchScore</h1>

    </div>
    <!--Fim do bloco do Logo-->

    <!--Inicio do bloco do formulário de Cadastro-->
    <div class="login-page">
        <div class="form">
            <h2>Bem vindo(a)!</h2>
            <h3>Cadastro</h3>
          <form class="register-form">
            <input type="text" placeholder="Nome completo" id="id_nome"/>
            <input type="text" placeholder="N&uacute;mero de Matr&iacute;cula" id="id_matricula"/>
            <input type="password" placeholder="Crie uma senha" id="id_senha"/>
            <input type="password" placeholder="Confirme a senha" id="id_confirma_senha"/>
            <input type="text" placeholder="E-mail" id="id_email"/>
            <button type="button" id="id_btn_salvar">create</button>
            <p class="message">Já possui cadastro? <a href="login.html">Acesse sua conta</a></p>
          </form>
        </div>
      </div>
      <!--Fim do bloco do formulário de Cadastro-->
      <!-- JavaScript do JQuery -->
</body>
</html>