<!DOCTYPE html>
<html>
<head>
<title>PitchScore</title>

<link rel="stylesheet" href="./css/estilo.css">
<script type="text/javascript" src="./js/function.js"></script>

</head>
<body>

   <!--Inicio do bloco do Logo-->
    <div class="logo">

        <h1>PitchScore</h1>

    </div>
    <!--Fim do bloco do Logo-->

    <!--Inicio do bloco do formulário de Login-->
    <div class="login-page">
        <div class="form">
            <h2>Bem vindo(a)!</h2>
            <h3>Login</h3>
          
          <form class="login-form">
            <input type="text" placeholder="Matr&iacute;cula"/>
            <input type="password" placeholder="Senha"/>
            <button>acessar</button>
            <p class="message">Não é registrado? <a href="cadastro.html">Crie uma conta</a></p>
          </form>
        </div>
      </div>
      <!--Fim do bloco do formulário de Login-->

</body>
</html>