<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Grupo</title>
    <link rel="stylesheet" href="./css/estilo_index.css"> <!-- Arquivo CSS principal para a barra superior -->
    <link rel="stylesheet" href="./css/selecao_grupo.css">
</head>
<body>
    <!-- Barra superior -->
    <header class="header">
        <div class="user-info">
            <img src="./imagens/index/foto_perfil.png" alt="Imagem do usuário" class="user-image">
            <span>Olá, <strong>João Silva</strong></span>
        </div>
        <div class="header-title">
            <h1>PitchScore</h1>
        </div>
        <div class="settings-icon">⚙️</div>
    </header>

    <main>
        
        <section class="main-card">
        <h2>Avaliador</h2>
        <p>Selecione o Projeto</p>
        <div class="grupo-cards">
            <div class="card">
                <img src="./imagens/imagens_grupo/projeto1.png" alt="Projeto 1">
                <p>Projeto 1</p>
            </div>
            <div class="card">
                <img src="./imagens/imagens_grupo/projeto2.png" alt="Projeto 2">
                <p>Projeto 2</p>
            </div>
            <div class="card">
                <img src="./imagens/imagens_grupo/projeto3.png" alt="Projeto 3">
                <p>Projeto 3</p>
            </div>
            <div class="card">
                <img src="./imagens/imagens_grupo/projeto4.png" alt="Projeto 4">
                <p>Projeto 4</p>
            </div>
        </div>

        <a href="avaliador_projeto.html"><button class="botao-avancar">Iniciar Avaliação</button></a>
    </section>

        
    </main>
</body>
</html>
